cdp, lldp

# IP, Port, Hostname
ISP2
hostname ISP2
interface GigabitEthernet 0/0
ip address 2.2.2.1 255.255.255.252
no shutdown
interface Serial 0/0/0
ip address 3.3.3.1 255.255.255.252
no shutdown
interface Serial 0/0/1
ip address 1.1.1.10 255.255.255.252
no shutdown

ISP1
hostname ISP1
interface Serial 0/0/1
ip address 1.1.1.9 255.255.255.252
no shutdown
int Serial 0/0/0
ip address 1.1.1.1 255.255.255.248
no shutdown

R0
ip domain name cacti.hu
ip name-server 10.0.0.10
hostname R0
interface Serial 0/0/0
ip address 10.0.0.1 255.255.255.248
no shutdown
interface Serial 0/0/1
ip address 10.0.0.9 255.255.255.248
no shutdown
interface Serial 0/1/0
ip address 1.1.1.2 255.255.255.252
no shutdown
interface GigabitEthernet 0/0
ip address 192.168.0.1 255.255.255.0
no shutdown

R1
ip domain name cacti.hu
ip name-server 192.168.11.11
hostname R1
interface Serial 0/0/1
ip address 10.0.0.10 255.255.255.248
no shutdown
interface Serial 0/0/0
ip address 192.168.11.6 255.255.255.252
no shutdown
interface GigabitEthernet 0/0
no shutdown
interface GigabitEthernet 0/1
ip address 192.168.11.14 255.255.255.248
no shutdown
interface GigabitEthernet 0/2
ip address 192.168.11.1 255.255.255.252
no shutdown

R2
ip domain name cacti.hu
ip name-server 192.168.11.11
hostname R2
interface Serial 0/0/0
ip address 10.0.0.2 255.255.255.248
no shutdown
interface Serial 0/0/1
ip address 192.168.11.5 255.255.255.252
no shutdown
interface GigabitEthernet 0/1
ip address 192.168.11.13 255.255.255.248
no shutdown

SW0
ip domain name cacti.hu
ip name-server 192.168.11.11
hostname SW0
interface range GigabitEthernet 1/0/1, GigabitEthernet 1/0/23-24
switchport mode access
switchport nonegotiate
interface range GigabitEthernet 1/0/2-22
switchport mode access
switchport nonegotiate
switchport access vlan 100
shutdown

SW1
ip domain name cacti.hu
ip name-server 192.168.11.11
hostname SW1
interface range FastEthernet 0/3-20, GigabitEthernet 0/2
switchport mode access
switchport nonegotiate
switchport access vlan 100
shutdown

SW2
ip domain name cacti.hu
ip name-server 192.168.11.11
hostname SW2
interface range FastEthernet 0/3-20, GigabitEthernet 0/1-2
switchport mode access
switchport nonegotiate
switchport access vlan 100
shutdown

SW3
ip domain name cacti.hu
ip name-server 192.168.11.11
hostname SW3
interface range FastEthernet 0/3-10, FastEthernet 0/13-20, GigabitEthernet 0/1-2
switchport mode access
switchport nonegotiate
switchport access vlan 100
shutdown

SW4
ip domain name cacti.hu
hostname SW4
interface range GigabitEthernet 1/0/1, GigabitEthernet 1/0/24
switchport mode access
switchport nonegotiate
interface range FastEthernet 1/0/2-23
switchport mode access
switchport nonegotiate
switchport access vlan 100
shutdown
# VTP, VLAN
SW1
vtp mode server
vtp version 2
vtp domain cacti.hu
vtp password cacti
vlan 10
name MANAGEMENT
vlan 20
name VEZETOSEG
vlan 30
name HR
vlan 40
name MARKETING
interface range FastEthernet 0/1-2
switchport mode access
switchport nonegotiate
switchport access vlan 10
interface GigabitEthernet 0/1
switchport mode trunk
switchport nonegotiate
switchport trunk allowed vlan 10,20,30,40
switchport trunk native vlan 99

SW2
vtp mode client
vtp domain cacti.hu
vtp password cacti
interface range FastEthernet 0/1-2
switchport mode access
switchport nonegotiate
switchport access vlan 40

SW3
vtp mode client
vtp domain cacti.hu
vtp password cacti
interface range FastEthernet 0/1-2
switchport mode access
switchport nonegotiate
switchport access vlan 20
interface range FastEthernet 0/11-12
switchport mode access
switchport nonegotiate
switchport access vlan 30

R1
interface GigabitEthernet 0/0.10
encapsulation dot1Q 10
ip address 192.168.1.1 255.255.255.192
interface GigabitEthernet 0/0.20
encapsulation dot1Q 20
ip address 192.168.1.65 255.255.255.192
interface GigabitEthernet 0/0.30
encapsulation dot1Q 30
ip address 192.168.1.129 255.255.255.192
interface GigabitEthernet 0/0.40
encapsulation dot1Q 40
ip address 192.168.1.193 255.255.255.192
# STP,ETH
SW1
interface range FastEthernet 0/21-22
channel-group 1 mode active
interface range FastEthernet 0/23-24
channel-group 2 mode active
interface port-channel 1
no shutdown
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 99
switchport trunk allowed vlan 10,20,30,40
interface port-channel 2
no shutdown
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 99
switchport trunk allowed vlan 10,20,30,40
spanning-tree mode rapid-pvst
spanning-tree vlan 10,20,30,40
spanning-tree vlan 10 root primary
spanning-tree portfast default
spanning-tree portfast bpduguard default

SW2
interface range FastEthernet 0/21-22
channel-group 1 mode active
interface range FastEthernet 0/23-24
channel-group 2 mode active
interface port-channel 1
no shutdown
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 99
switchport trunk allowed vlan 10,20,30,40
interface port-channel 2
no shutdown
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 99
switchport trunk allowed vlan 10,20,30,40
spanning-tree mode rapid-pvst
spanning-tree vlan 10,20,30,40
spanning-tree vlan 40 root primary
spanning-tree portfast default
spanning-tree portfast bpduguard default

SW3
interface range FastEthernet 0/21-22
channel-group 1 mode active
interface range FastEthernet 0/23-24
channel-group 2 mode active
interface port-channel 1
no shutdown
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 99
switchport trunk allowed vlan 10,20,30,40
interface port-channel 2
no shutdown
switchport mode trunk
switchport nonegotiate
switchport trunk native vlan 99
switchport trunk allowed vlan 10,20,30,40
spanning-tree mode rapid-pvst
spanning-tree vlan 10,20,30,40
spanning-tree vlan 20,30 root primary
spanning-tree portfast default
spanning-tree portfast bpduguard default
# DHCP
R0
service dhcp
ip dhcp excluded-address 192.168.0.2
ip dhcp pool public_wifi
network 192.168.0.0 255.255.255.0
default-router 192.168.0.1
dns-server 10.0.0.10

R1
service dhcp
ip dhcp excluded-address 192.168.1.2 192.168.1.5
ip dhcp excluded-address 192.168.1.66 192.168.1.69
ip dhcp excluded-address 192.168.1.130 192.168.1.133
ip dhcp excluded-address 192.168.1.194 192.168.1.197
ip dhcp pool lan10
network 192.168.1.0 255.255.255.192
default-router 192.168.1.1
dns-server 192.168.11.11
ip dhcp pool lan20
network 192.168.1.64 255.255.255.192
default-router 192.168.1.65
dns-server 192.168.11.11
ip dhcp pool lan30
network 192.168.1.128 255.255.255.192
default-router 192.168.1.129
dns-server 192.168.11.11
ip dhcp pool lan40
network 192.168.1.192 255.255.255.192
default-router 192.168.1.193
dns-server 192.168.11.11
# Telnet/SSH
SW0
ip default-gateway 192.168.11.9
interface vlan 1
ip address 192.168.11.10 255.255.255.248
no shutdown
username user1 password pass1
line vty 0 15
login local

SW1
ip default-gateway 192.168.1.1
interface vlan 10
ip address 192.168.1.3 255.255.255.192
no shutdown
interface vlan 20
ip address 192.168.1.67 255.255.255.192
no shutdown
interface vlan 30
ip address 192.168.1.131 255.255.255.192
no shutdown
interface vlan 40
ip address 192.168.1.195 255.255.255.192
no shutdown
username user1 password pass1
line vty 0 15
login local

SW2
ip default-gateway 192.168.1.1
interface vlan 10
ip address 192.168.1.4 255.255.255.192
no shutdown
interface vlan 20
ip address 192.168.1.68 255.255.255.192
no shutdown
interface vlan 30
ip address 192.168.1.132 255.255.255.192
no shutdown
interface vlan 40
ip address 192.168.1.196 255.255.255.192
no shutdown
username user1 password pass1
line vty 0 15
login local

SW3
ip default-gateway 192.168.1.1
interface vlan 10
ip address 192.168.1.5 255.255.255.192
no shutdown
interface vlan 20
ip address 192.168.1.69 255.255.255.192
no shutdown
interface vlan 30
ip address 192.168.1.133 255.255.255.192
no shutdown
interface vlan 40
ip address 192.168.1.197 255.255.255.192
no shutdown
username user1 password pass1
line vty 0 15
login local

SW4
ip default-gateway 192.168.0.1
interface vlan 1
ip address 192.168.0.2 255.255.255.0
no shutdown
ip domain-name cacti.hu
crypto key generate rsa
ip ssh version 2
ip ssh time-out 120
ip ssh authentication-retries 0
username user1 password pass1
line vty 0 15
login local
transport input ssh

R0
ip domain-name cacti.hu
crypto key generate rsa
ip ssh version 2
ip ssh time-out 120
ip ssh authentication-retries 0
username user1 password pass1
line vty 0 15
login local
transport input ssh

R1
ip domain-name cacti.hu
crypto key generate rsa
ip ssh version 2
ip ssh time-out 120
ip ssh authentication-retries 0
username user1 password pass1
line vty 0 15
login local
transport input ssh

R2
ip domain-name cacti.hu
crypto key generate rsa
ip ssh version 2
ip ssh time-out 120
ip ssh authentication-retries 0
username user1 password pass1
line vty 0 15
login local
transport input ssh
# HSRP
R1
interface GigabitEthernet 0/1
standby version 2
standby ip 192.168.11.9
standby preempt
standby priority 255

R2
interface GigabitEthernet 0/1
standby version 2
standby ip 192.168.11.9
# Biztonság
SW0
interface range GigabitEthernet 1/0/1-22
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
enable secret cacti
service password-encryption
ip dhcp snooping
ip dhcp snooping vlan 1
ip arp inspection vlan 1
ip arp inspection validate dst-mac ip src-mac
interface range GigabitEthernet 1/0/23-24
switchport port-security
switchport port-security mac-address sticky
switchport port-security maximum 2
switchport port-security violation restrict

SW1
interface range FastEthernet 0/1-20, GigabitEthernet 0/2
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
interface FastEthernet 0/2
switchport port-security maximum 2
interface port-channel 1
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
interface port-channel 2
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
enable secret cacti
service password-encryption
ip dhcp snooping
no ip dhcp snooping information option
ip dhcp snooping vlan 1,10,20,30,40,99,100
interface GigabitEthernet 0/1
ip dhcp snooping trust
ip arp inspection vlan 1,10,20,30,40,99,100
ip arp inspection validate dst-mac ip src-mac

SW2
interface range FastEthernet 0/1-20, GigabitEthernet 0/1-2
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
interface FastEthernet 0/2
switchport port-security maximum 2
interface port-channel 1
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
interface port-channel 2
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
enable secret cacti
service password-encryption

SW3
interface range FastEthernet 0/1-20, GigabitEthernet 0/1-2
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
interface range FastEthernet 0/2, FastEthernet 0/12
switchport port-security maximum 2
interface port-channel 1
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
interface port-channel 2
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
enable secret cacti
service password-encryption

SW4
interface range GigabitEthernet 1/0/1-24
switchport port-security
switchport port-security mac-address sticky
switchport port-security violation restrict
enable secret cacti
service password-encryption
ip dhcp snooping
no ip dhcp snooping information option
ip dhcp snooping vlan 1
interface GigabitEthernet 1/0/24
ip dhcp snooping trust
ip arp inspection vlan 1
ip arp inspection validate dst-mac ip src-mac

R0
enable secret cacti
service password-encryption

R1
enable secret cacti
service password-encryption

R2
enable secret cacti
service password-encryption
# Dinamikus forgalomirányítás
R0
ip route 0.0.0.0 0.0.0.0 Serial 0/1/0
router ospf 1
passive-interface Serial 0/0/0
passive-interface Serial 0/0/1
passive-interface Serial 0/1/0
passive-interface GigabitEthernet 0/0
network 10.0.0.0 0.0.0.15 a 0
network 192.168.2.0 0.0.0.3 a 0

R1
ip route 0.0.0.0 0.0.0.0 Serial 0/0/1
router ospf 1
network 192.168.11.0 0.0.0.15 a 0
network 192.168.1.0 0.0.0.255 a 0
network 192.168.3.0 0.0.0.3 a 0
passive-interface Serial 0/0/1
passive-interface GigabitEthernet 0/0
passive-interface GigabitEthernet 0/1
passive-interface GigabitEthernet 0/2
interface Serial 0/0/0
ip ospf authentication message-digest
ip ospf message-digest-key 1 md5 cacti


R2
ip route 0.0.0.0 0.0.0.0 Serial 0/0/0
router ospf 1
network 192.168.11.8 0.0.0.7 a 0
network 192.168.11.4 0.0.0.3 a 0
passive-interface default
no passive-interface Serial 0/0/1
interface Serial 0/0/1
ip ospf authentication message-digest
ip ospf message-digest-key 1 md5 cacti

ISP1
router ospf 1
network 1.1.1.0 0.0.0.7 a 0
network 1.1.1.8 0.0.0.3 a 0
passive-interface Serial 0/0/0

ISP2
router ospf 1
network 1.1.1.8 0.0.0.3 a 0
network 2.2.2.0 0.0.0.3 a 0
network 3.3.3.0 0.0.0.3 a 0
passive-interface Serial 0/0/0
# NAT, Portátirányítás
R0
interface Serial 0/0/0
ip nat inside
interface Serial 0/0/1
ip nat inside
interface GigabitEthernet 0/0
ip nat inside
interface Serial 0/1/0
ip nat outside
ip access-list standard NAT_ACL
permit any
ip nat pool NAT_PL 1.1.1.2 1.1.1.6 netmask 255.255.255.248
ip nat inside source list NAT_ACL pool NAT_PL overload
ip nat inside source static tcp 10.0.0.10 80 1.1.1.2 80
ip nat inside source static tcp 10.0.0.10 443 1.1.1.2 443

R1
interface range GigabitEthernet 0/1-2, GigabitEthernet 0/0.10, GigabitEthernet 0/0.20, GigabitEthernet 0/0.30, GigabitEthernet 0/0.40
ip nat inside
interface Serial 0/0/0
ip nat inside
interface Serial 0/0/1
ip nat outside
ip access-list standard NAT_ACL
permit any
ip nat pool NAT_PL 10.0.0.10 10.0.0.14 netmask 255.255.255.248
ip nat inside source list NAT_ACL pool NAT_PL overload
ip nat inside source static tcp 192.168.11.11 80 10.0.0.10 80
ip nat inside source static tcp 192.168.11.11 443 10.0.0.10 443
ip nat inside source static tcp 192.168.11.11 53 10.0.0.10 53
ip nat inside source static udp 192.168.11.11 69 10.0.0.10 69

R2
interface GigabitEthernet 0/1
ip nat inside
interface Serial 0/0/1
ip nat inside
interface Serial 0/0/0
ip nat outside
ip access-list standard NAT_ACL
permit any
ip nat pool NAT_PL 10.0.0.2 10.0.0.6 netmask 255.255.255.248
ip nat inside source list NAT_ACL pool NAT_PL overload


# WiFi
IP, Gateway, DNS
public_wifi - (guest access)
192.168.0.0/24
privat
192.168.10.0/24
SSID - Cacti_Wifi
Broadcast disabled
WPA2PSK AES Cacti_Pass123
Admin password - Cacti_Admin
# Szerver szolg.
- konfiguráció mentése tftp-n
- ftp a fájlok tárolásához - ftp.cacti.hu
- céges levelező szerver - mail.cacti.hu
- saját webszerver - cacti.hu
- dns szerver az ftp- és levelezőszerverek eléréséhez
# GRE alagút
R0
interface tunnel 0
ip address 192.168.2.1 255.255.255.252
tunnel source Serial 0/1/0
tunnel destination 3.3.3.2

RR
hostname RR
interface Serial 0/0/0
ip address 3.3.3.2 255.255.255.252
no shutdown
ip nat outside
interface Serial 0/0/1
ip address 172.16.0.1 255.255.255.252
no shutdown
ip nat inside
interface tunnel 0
ip address 192.168.2.2 255.255.255.252
tunnel source Serial 0/0/0
tunnel destination 1.1.1.2
ip route 0.0.0.0 0.0.0.0 Serial 0/0/0
router ospf 1
network 192.168.2.0 0.0.0.3 a 0
network 172.16.0.0 0.0.0.3 a 0

R1
interface tunnel 1
ip address 192.168.3.1 255.255.255.252
tunnel source Serial 0/0/1
tunnel destination 172.16.0.2
router ospf 1
network 192.168.3.0 0.0.0.3 a 0

RP
hostname RP
ipv6 unicast-routing
interface Serial 0/0/0
ip address 172.16.0.2 255.255.255.252
no shutdown
ip nat outside
interface GigabitEthernet 0/0
ip address 172.16.1.1 255.255.255.0
ipv6 address fc50::1/12
no shutdown
ip nat inside
interface tunnel 1
ip address 192.168.3.2 255.255.255.252
tunnel source Serial 0/0/0
tunnel destination 10.0.0.10
ip route 0.0.0.0 0.0.0.0 Serial 0/0/0
router ospf 1
network 172.16.1.0 0.0.0.255 a 0
network 192.168.3.0 0.0.0.3 a 0

(RR RP)
ip access-list standard NAT_ACL
permit any
ip nat inside source list NAT_ACL interface Serial 0/0/0 overload

# (Layer 3 Switch, ASA?)